<h1>Meal-details</h1>
<div *ngIf="isLoading" class="row spinner">
    <img src="./assets/images/spinner.svg" alt="Loading...">
</div>

<!-- <div *ngIf="meal$" class="card border-info mb-3" style="max-width: 80rem;"> -->
<div *ngIf="!isLoading" class="card border-info mb-3" style="max-width: 80rem;">
    <div class="card-header"><h3>{{meal$.name}}</h3> </div>
    <div class="card-body">
      <h4 class="card-title">Description</h4>
      <p class="card-text">{{meal$.description}}</p>
    </div>
    
    <div>
        <div class="card-body card-body-inline" >
            <h4 class="card-title">Legend</h4>
            <p class="card-text">
                <span class="badge badge-pill badge-info">{{meal$.legend}}</span>
            </p>
        </div>

        <div class="card-body card-body-inline" >
            <h4 class="card-title">Created at</h4>
            <p class="card-text">{{meal$.created_at | date}}</p>
        </div>

        <div class="card-body card-body-inline" >
            <h4 class="card-title">Updated at</h4>
            <p class="card-text">{{meal$.updated_at | date}}</p>
        </div>
    </div>
    
</div>