<h1>list of meals</h1>
<div *ngIf="isLoading" class="row spinner">
  <img src="./assets/images/spinner.svg" alt="Loading...">
</div>

<table *ngIf="!isLoading" class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Legend</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meal of meals | paginate : { id: 'meals_pagination',
      itemsPerPage: itemsPerPage,
      totalItems: totalItems,
      currentPage: page }">
      <th scope="row">{{meal.id}}</th>
      <td>{{meal.name}}</td>
      <td>{{meal.description}}</td>
      <td><span class="badge badge-pill badge-info">{{meal.legend}}</span></td>
      <td>
          <button type="button" class="btn btn-info btn-circle"  data-placement="top" title="View" [routerLink]="['/lists/meal/view', meal.id]">
            <i class="fa fa-list"></i></button>
          <button type="button" class="btn btn-warning btn-circle" data-placement="top" title="Edit" [routerLink]="['/lists/meal/edit', meal.id]">
            <i class="fa fa-pencil"></i></button>
          <button type="button" class="btn btn-danger btn-circle" data-placement="top" title="Delete" (click)="delete(meal.id)">
            <i class="fa fa-window-close"></i></button>
        </td>     
    </tr>
  </tbody>
</table>
<div *ngIf="!isLoading">
  <pagination-controls 
    id="meals_pagination" 
    directionLinks="true"  
    (pageChange)="pageChanged($event)">

  
  </pagination-controls>
</div>
