<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Predict-App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/lists/categories']">Categories List<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/lists/foods']">Foods List<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLink]="['/lists/meals']">Meals List<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    

    <ul *ngIf="isLoggedIn" class="navbar-nav mr-auto">
      <li class="nav-item"  data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link"  (click)="logout()">Logout<span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>
