
<div class="col-md-8 mt-md-4">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/category']" routerLinkActive="active">Add category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/food']" routerLinkActive="active">Add food</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/meal']" routerLinkActive="active">Add meal</a>
    </li>
  </ul>
    <router-outlet></router-outlet>
 
</div>